
@using DAL.Models
@model ShopViewModel 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shop</h1>

@if (Model.SelectedNinja != null)
{
    <p>The selected ninja is: @Model.SelectedNinja.Name</p>
    <p>@Model.SelectedNinja.Name has @Model.SelectedNinja.Gold gold.</p>
}


<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Strength
        </th>
        <th>
             model.Agility
        </th>
        <th>
            Intelligence
        </th>
        <th>
            Price
        </th>
        <th>
            ArmourType
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Armour armour in Model.BuyAbleArmour.OrderBy(e => e.ArmourType))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => armour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => armour.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => armour.Agility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => armour.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => armour.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => armour.ArmourType)
            </td>
            <td>
                <a asp-controller="Shop" asp-action="BuyArmour" asp-route-id="@armour.Id" asp-route-ninjaId="@Model.SelectedNinja.Id">Buy</a>
            </td>
        </tr>
    }
    </tbody>
</table>