
@using DAL.Models
@model ShopViewModel 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shop</h1>

@if (Model.SelectedNinja != null)
{
    <p>The selected ninja is: @Model.SelectedNinja.Name</p>
    <p>@Model.SelectedNinja.Name has @Model.SelectedNinja.Gold gold.</p>
}

<div class="form-group">
    @foreach (Armour armour in Model.BuyAbleArmour)
    {
    <div>
        <p>@armour.Name</p>
        @if (Model.SelectedNinja != null)
        {
            <a asp-controller="Shop" asp-action="BuyArmour" asp-route-id="@armour.Id" asp-route-ninjaId="@Model.SelectedNinja.Id" >Buy</a>
        }
    </div>
    }
</div>