@model NinjaViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ninja</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gold)
        </dd>
    </dl>

    <h5>Cumulative armour statistics</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Strength
        </dt>
        <dd class="col-sm-10">
            @Model.TotalStrength
        </dd>
        <dt class="col-sm-2">
            Agility
        </dt>
        <dd class="col-sm-10">
            @Model.TotalAgility
        </dd>
        <dt class="col-sm-2">
            Intelligence
        </dt>
        <dd class="col-sm-10">
            @Model.TotalIntelligence
        </dd>
        <dt class="col-sm-2">
            Armour Value
        </dt>
        <dd class="col-sm-10">
            @Model.TotalArmourValue
        </dd>
    </dl>


    <h5>Armour</h5>

    <dl class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Strength
                </th>
                <th>
                    model.Agility
                </th>
                <th>
                    Intelligence
                </th>
                <th>
                    Price
                </th>
                <th>
                    ArmourType
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (DAL.Models.Armour armour in Model.AllArmour)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => armour.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => armour.Strength)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => armour.Agility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => armour.Intelligence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => armour.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => armour.ArmourType)
                    </td>
                    <td>
                        <a asp-controller="Shop" asp-action="BuyArmour" asp-route-id="@armour.Id" asp-route-ninjaId="@Model.Id">sell</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </dl>
</div>





<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Shop" asp-action="Index" asp-route-ninjaId="@Model.Id">Go to the shop to buy new armour!</a>
</div>